﻿
@{
    ViewData["Title"] = "Test List";

}

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>

<h2>Список тестов:</h2>

<script>

    var testAnswers = { answers: [] };


    function PrintTest(testData, containerSelector, questionItemPrefix, showCorrectAnswers) {
        $(containerSelector).empty();
        var i = 0;
        for (var item in testData) {
            var question = testData[item];
            $(containerSelector).append("<div>" + question.text + " </div>");
            var questionId = questionItemPrefix + 'question' + item;
            console.log("Container Id:");
            console.log(questionId);

            $(containerSelector).append("<div id='" + questionId + "'> </div>");
            (function (j, qId) {

                console.log("Options");
                console.log(question.options);

                if (question.questionType == 0) {


                    $("#" + questionId).dxRadioGroup({
                        items: question.options,
                        itemTemplate: function (data) {
                            var yourVersion = "";
                            if (data.userVersion) {
                                yourVersion = "<span style = 'color:green'>Ваша версия</span>"
                            }

                            return $("<div>").text(data.text).append(yourVersion);
                        },
                        onValueChanged: function (e) {
                            var answ = { questionId: qId, SelectedOptions: [e.value.id] }
                            testAnswers.answers[j] = answ;
                        },
                        onContentReady: function (e) {

                            if (showCorrectAnswers) {
                                console.log(question.options);
                                for (var qIndex in question.options) {
                                    if (question.options[qIndex].isCorrect) {
                                        e.component.option("value", question.options[qIndex])
                                    }
                                }
                            }

                        }

                    }
                    )
                }
                else {
                    $("#" + questionId).dxList({
                        items: question.options,
                        //dataSource: tasks,
                        editEnabled: true,
                        //height: 400,
                        allowItemDeleting: false,
                        itemDeleteMode: "toggle",
                        showSelectionControls: true,
                        selectionMode: "multiple",

                        itemTemplate: function (data) {
                            var yourVersion = "";
                            if (data.userVersion) {
                                yourVersion = "<span style = 'color:green'>Ваша версия</span>"
                            }

                            return $("<div>").text(data.text).append(yourVersion);
                        },
                        onSelectionChanged: function (e) {
                            var answ = {
                                questionId: qId, SelectedOptions: e.component.option("selectedItems").map(function (itm) { return itm.id })
                            }
                            testAnswers.answers[j] = answ;
                            console.log("Selected keys:")
                            console.log(e.component.option("selectedItemKeys"));
                        },

                        onContentReady: function (e) {

                            if (showCorrectAnswers) {
                                var correctItems = question.options.filter(function (opt) { return opt.isCorrect })

                                e.component.option("selectedItemKeys", correctItems);
                            }
                        }

                    });

                }
            })(i, question.id)
            i++;


        }

    }


    $(function () {
        $.get("/Home/GetTests", {}, function (result) { console.log(result); }).done(function (response) {
            var listWidget = $("#list").dxList({
                dataSource: response,
                height: 300,

                itemTemplate: function (data) {
                    return $("<div>").text(data.name);
                },
                onItemClick: function (e) {
                    console.log(e.itemData);
                    testAnswers = { answers: [] };
                    testAnswers.testId = e.itemData.id;

                    $.post("/Home/GetTestQuestions", { testId: e.itemData.id }, function (result) {

                        PrintTest(result, "#testContainer", "", false)
                        //ph

                        $("#testContainer").append("<div id='submit'></div");
                        $("#submit").dxButton({
                            text: "Submit",
                            type: "normal",
                            onClick: function (e) {
                                // DevExpress.ui.notify("The OK button was clicked");
                                $.post("/Home/EvaluateTestAnswers", { testAnswers: JSON.stringify(testAnswers) },
                                    function (result) {
                                        $.post("/Home/GetTestQuestionsWithAnswers", { testResultId: result.testResultId }, function (result) {


                                            PrintTest(result, "#results", "res", true)
                                        });


                                    })



                            }
                        });
                    });

                }
            })
        })


        var tabs = [
            {
                id: 0,
                text: "Select test",
                icon: "user",
                content: "Скрыть выполненные тесты"
            },
            {
                id: 1,
                text: "Completed tests",
                icon: "comment",
                content: "Показать выполненные тесты"
            }
        ]


        var tabsInstance = $("#tabs > .tabs-container").dxTabs({
            dataSource: tabs,
            selectedIndex: 0,
            onItemClick: function (e) {
                console.log(e.itemData);
                if (e.itemData.id == 1) {

                    $.post("/Home/GetCompletedTestsForUser", {}, function (result) {
                        console.log(result);
                        $("#completedTests").empty()
                        $("#completedTests").dxList({
                            dataSource: result,
                            height: 200,
                            itemTemplate: function (data) {
                                return $("<div>").text("Тест №" + data.id + " по теме " + data.name);
                            },
                            onItemClick: function (e) {
                                var testResult = e.itemData;

                                console.log(testResult);
                                $.post("/Home/GetTestQuestionsWithAnswers", { testResultId: testResult.id }, function (result) {
                                    $("#completedTestResult").empty()

                                    PrintTest(result, "#completedTestResult", "completed", true)

                                    $("#completedTestResult").prepend("<h2>Результаты теста:</р2>")
                                });

                            }

                        })

                      //  $("#completedTests").prepend("<h2>Выполненные тесты</р2>")

                        // $("#completedTests").append("<br><br><br>")
                    });
                }
                else {

                    $("#completedTests").empty();
                }

            }
        }).dxTabs("instance");


    })



</script>



<div id="tabs">
    <div class="caption">API</div>
    <div class="tabs-container"></div>
</div>


<div id="completedTests" style="margin-top:30px"> </div>

<br />
<br />
<div id="completedTestResult"> </div>

<br />
<br />
<h2>Выберите тест для выполнения: </h2>
<div class="demo-container">
    <div id="list"></div>

</div>

<div id="testContainer">

</div>



<div id="results">

</div>



